@charset "utf-8";
html,body{
  height: 100%;
  font-family: "맑은 고딕";
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #666666;
}
table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
}
img{
  vertical-align: bottom;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: rgba(0,0,0,0.5);
}
.container{
  height: 100%;
  position: relative;
  max-width: 1930px;
  margin: auto;
}
.header-wrap{
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: 100%;
}
h1{
  width: 200px;
  height: 50px;
  float: left;
  background-color: white;
  margin-top: 10px;
  margin-left: 20px;
}
nav{
  width: 500px;
  height: 50px;
  background-color: white;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
.main-nav{
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
}
.main-nav>li{
  width: 20%;
  height: 100%;
}
.main-nav>li>a{
  display: inline-block;
  text-align: center;
  padding: 12px 0;
  width: 100%;
  height: 100%;
}
.main-nav>li>a:hover{
  background-color: pink;
}
#logo{
  fill:none;
  stroke:#231F20;
  stroke-width:3.5635;stroke-miterlimit:10;
  stroke-dasharray:300px ;
  stroke-dashoffset: 300px;
  animation-name: logo-ani;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count:infinite ;
  animation-direction: alternate;
}
h1{
  text-align: center;
}
h1 #Layer_1{
  width: 40%;
}
@keyframes logo-ani{
  0%{
    stroke-dashoffset: 300px;
  }
  100%{
    stroke-dashoffset: 0;
  }
}