@charset "utf-8";

html,body{
    font-family:"맑은 고딕";
    color:black;
    margin:0;
    
    
    overflow: auto;
}
a{
    color:#333333;
    text-decoration: none;
}
a:hover{
    color:black;
}
img{
    vertical-align: bottom;
}
table,td,th{
    border:1px solid black;
    border-collapse:collapse;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.slider-container{
  margin: auto; margin-top: 50px; margin-bottom: 50px;
  /* border: 1px solid black; */
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin: 50px 25%;
  float: left;
  position: relative;
  /* height: 300px; */
}
.slider-wrap{
  width: 100%;
  /* border: 1px solid pink; */
  /* height: 100%; */
  float: left;
  overflow: hidden;
  position: relative;
 

}
.slides{
  width:400%;
  /* border: 1px solid blue; */
  /* height: 100%; */
  float: left;
  position: relative;
  left: 0;
  
}
.slide{
  width:50%;
  float: left;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}
.slide img{
  width: 100%;
}
.slider-container button{
  position: absolute;
  width: 50px;
  height: 100%;
  background-color:transparent;
  top: 0;
  left: 0;
  background-image: url(../images/arrow-left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-indent: -999999px;
  border: none;
}
button.prev{
  background-image: url(../images/arrow-left.png);
}
button.next{
  left: inherit;
  right: 0;
  background-image: url(../images/arrow-right.png);
}
.slider-container button:hover{
  background-color: rgba(0, 0,0, 0.7);
}
.page-dots{
  width:100%;
  text-align:center;
  position:absolute;
  bottom:-20px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}